{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block page %}{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

<!--Student ID: 816033508
    Name: Richard Rattansingh
-->
{% block content %}

<div class="row">
    <div class="col m2 list-container collection" style="max-height: 84vh;">

        <!-- edit to show all pokemon links but have only the selected pokemon as active -->
        <!--<div class="list-item">   
            <a href="/app/1" id='poke-1' class="collection-item active" >Bulbasaur</a> 
        </div>
        -->

        {% for poke in pokemon %}
            {% if poke.id == specific.id %}
            <div class="list-item">
                <a href="/app/{{poke.id}}" id="poke-{{poke.id}}" class="collection-item active" >{{poke.name}}</a>
            </div>
            {% else %}
            <div class="list-item">
                <a href="/app/{{poke.id}}" id="poke-{{poke.id}}" class='collection-item'>{{poke.name}}</a>
            </div>
            {% endif %}
        {% endfor %}
        
    </div>
    
    <div class="col m3">

        <p class="text-center">Selected Pokemon</p>
        
        
            <div class="card">
                <!-- Selected Pokemon Content Here -->
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{specific.id}}.png"
                    alt="Pokemon picture">
        
                <div class="card-content">
                    <span class="card-title"><h5>{{specific.name}}</h5></span>
                    
                    <p>Type1: {{specific.type1}}</p>
                    <p>Type2: {{specific.type2}}</p>
                    <p>Weight: {{specific.weight}}</p>
                    <p>Height: {{specific.height}}</p>
                    <form id="captureForm" class="card-content" method="POST" action="/pokemon/{{specific.id}}">
                        <input name="pokemon_name" id="pokemon_name" type="text" value="" required>
                        <button id="captureBtn" data-pokemon-id="{{specific.id}}" class="btn green btn-capture" href="/pokemon/{{specific.id}}">Capture</button>
                    </form>
                </div>
                
                    
                
            </div>
            
    </div>

    <div class="col m7">
        <p class="text-center">Your Pokemon</p>
        <table title="Your Pokemon">
            
            <thead>
                <th>Pokemon</th>
                <th>Name</th>
                <th>Actions</th>
            </thead>
            <tbody>

            
            <!-- Captured pokemon content here -->
            {% for acquired in captured %}
                <tr>
                    <td>{{acquired.pokemon.name}}</td>
                    <td>{{acquired.name}}</td>
                    <td>
                        <form method="POST" action="/rename-pokemon/{{acquired.id}}">
                            <input name="rename" id="Ron-new_name" type="text" value="" required> 
                            <button id="rename-Ron" data-pokemon-id="{{acquired.id}}" class="btn green btn-capture" href="/rename-pokemon/{{acquired.id}}">Rename</button>
                        </form>

                        <form method="GET" action="/release-pokemon/{{acquired.id}}">
                            <button id="release-Rick" data-pokemon-id="{{acquired.id}}" class="btn green btn-release" href="/release-pokemon/{{acquired.id}}">Release</button>
                        </form>
                    </td> 
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<script>
    var pokeElem = document.getElementById('poke-{{specific.id}}');// edit to scroll to selected pokemon
    pokeElem.scrollIntoView();
</script>

{% endblock %}